.footerCont {
    color: white;
    width: 100%;
    background-attachment: fixed;
    bottom: 0px;
    font-family: Montserrat;
    height: 290px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: black;
}
.textCenter {
    position: relative;
    top: -5px;
    text-align: center;
}
.footerLogo {
    width: 263px;
    height: 93px;
}
.iconSet {
   display: flex; 
   gap: 20px;
   font-size: 35px;
}